@import '_reset';

body {
    font: 13px/1.3 arial, helvetica, verdana, serif;
}

* {
    margin: 0;
    padding: 0;
}

.body-wrapper{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
    background: rgb(239, 165, 61); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(239, 165, 61, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(239, 165, 61, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(239, 165, 61, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#EFA53D',GradientType=0 ); /* IE6-9 */
    min-height:100vh;    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    display: -moz-groupbox;
}

caption {
    background-color: #337ab7;
}
thead tr th{
    font-weight: bold;
    color:#ffffff;
}

table.selectable-row tbody tr:hover {
    background-color: rgba(221, 221, 221, 0.81);
    cursor:pointer;
}

.contact-view{
background: #fff;
border-radius: 5px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.margin-bottom {
    padding-bottom: 50px;
}

.font-bold {
    font-weight: bold;
}

.header {
    background-color: #5f5f5f;
    overflow: hidden;
    color: #f1f1f1;
    box-shadow:3px 3px 3px rgba(50, 50, 50, 0.28);
    .navbar-brand{
        color:#f1f1f1;
    }
    .navbar-nav a {
        color: #f1f1f1;
    }
    .nav > li > a:focus, .nav > li > a:hover{
        color:#337ab7;
    }
    .nav > li > a.selected{
        color:#337ab7;
        background-color:#eee;
        opacity:1;
    }
    .login-link{
        float:right;
        display:inline-block;
        a{
            display:inline-block;
            padding:15px;
        }
    }
}

.footer {
    height: auto;
    background-color: #e6d9c9;
    position: fixed;
    border-top-color: #8A6D3B;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
}
.panel-primary, table{
    box-shadow:3px 3px 3px rgba(50, 50, 50, 0.28);
}

.bg-color {
    background-color: #fff;
}

.serach-contact {
    margin-top: 3%;
    padding-right: 15%;
    padding-left: 10%;
   
}

.loader-tr {
    td {
        pointer-events: none;
        opacity: 0.6;
        height: 435px;
    }
}

.merge-contact {
    padding: 3% 10%;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-case {
    text-transform: capitalize;
}

.table-scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

#overlay {
    background: #ffffff;
    color: #666666;
    float: left;
    text-align: center;
    margin-left: 500px;
    margin-top: 200px;
}

.loadingTextColor {
    color: #f59117;
}

table.borderless td,
table.borderless th {
    border: none !important;
}



table.borderlessview td,
table.borderlessview td {
    border: none !important;
}

.div-left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.div-right {
    width: 50%;
    float: right;
}

.contact-view{
    width:100%;
}

.fixed-panel {
  min-height: 600px;
  max-height: 600px;
  overflow-y: scroll;
}
.hide-true  {
    display: none;
    opacity: 1;
    transition: opacity 2s linear;
            }
.table-header-color{
  
 background-color: #777;
}

.header-label{
  min-height: 600px;
  max-height: 600px;
  overflow-y: scroll;
}

.header-label-size{
    padding-top:10px;
    padding-bottom:20px;
   font-size:18px;
 
}


.btn {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
    background-image: -o-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
    background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
    background-repeat: repeat-x;
    border-color: #e38d13;
    box-shadow:0 1px 0 #f9dfaf inset;
    color:#fff;
}
.btn:focus,
.btn:hover {
    background-color: #eb9316;
    background-position: 0 -15px
}
.btn.active,
.btn:active {
    background-color: #eb9316;
    border-color: #e38d13
}

.text-border{
    border-color:red !important;
}
.text-border-warning{
    border-color:#6991A5 !important;
}
.pager{
    margin: 5px 0;
    text-align:right;
}
.form-control{
    width:200px;
    height:28px;
    padding:3px 12px;
}
.form-control-x{
    height:28px;
    padding:3px 12px;
    width:60px;
    border-radius:5px;
}

.container {
    width: 100%;
    top: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.address-padding{
    padding-top: 5px;
    padding-bottom:5px;
    padding-right: 10px;
    padding-left: 10px;
}
.panel-body {
    padding: 0px;
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.table-bottom{
  margin-bottom: 0px;
}
.create-contact-btn{
        margin-left: 45%;
}
.contact-margin-top{
    margin-top:20px;
}
.pager li:nth-child(1){
    margin-right: 5px;
}
.pager li:nth-child(2){
    margin-right: 5px;

}
.pager li:nth-child(3){
    margin-right: 20px;

}

.pager li>input{
   margin: 0 15px;

}
.pager li:nth-child(1):hover , .pager li:nth-child(3):hover{
    cursor:pointer;
}
/* search contact page css */
.search-input-form{    
    border-radius: 5px;
    border: 1px solid rgba(95, 95, 95, 0.43);
    width: 100%;       
    min-height: 60px;
    overflow:hidden;
    padding: 1%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(95, 95, 95, 0.35);
    .col-md-3{
        margin:10px 0;
    }
}
.fixed {
    width:100%;
    border-collapse: collapse;
    th, td{
        padding: 10px 15px;
        text-align: left; 
        width: 116px;
    }
    thead{
        background-color: #777;
        color: #fdfdfd;
        tr{
            display: block;
            position: relative;
        }
    }
    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 500px;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .df-tbl-col-name{
        width:180px;
    }
    .df-tbl-col-error{
        width:300px;
    }
}

.bottom-border{
        border-bottom: 1px solid rgba(188, 188, 188, 0.53);;
      }
.datafix-button-middile{
        vertical-align: middle;
      }
table#model td {    
    background-color: rgba(240, 205, 78, 0.17);;
    padding: 50px; 
    margin: 50%; 
   }
.model-heading{
    background: #5f5f5f;
    color: #ffffff;
   }  
.model-close-btn{
  padding-left: 99%;
  cursor: pointer;
  color: #ffffff;
  margin-top: 0px;
}

td.wordwrap {
    width: 15em;  
    word-wrap: break-word;
}
  .ib-table-margin{
   margin: 3% 2% 2% 1%;
}
.cdi-tooltip {
    line-height:normal !important;
}
.create-btn-link{
    padding-left: 20px;
    font-weight: bold;
    text-decoration: underline;
}
a:focus, a:hover {
    color: #ef9420;
    text-decoration: underline;
}

.search-btn{
    margin-bottom:50px;
}

.search-col-wd {
    margin-left: 32px;
    float: left;
}

.attributes tr td:nth-child(1) {
    font-weight: bold;
    font-family: helvetica, verdana;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #ccc;
    background-color: #aaa;
    color: white;
    width: 27%;
    padding: 10px 5px;
}

.address{
    font-weight: bold;
    font-family: helvetica, verdana;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #ccc;
    background-color: #aaa;
    color: white;
    width: 27%;
    padding: 10px 5px;
}
.login{
    .nav{
        display:none;
    }
    .login-form{
        margin:25vh auto 0;
        width:300px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding:15px 0 15px 20px;
        border-radius:5px;
        background:#f4f4f4;
        .danger.show{
            color:red;
            display:block;
            margin:10px 0;
        }
        .form-group{
            span{
                color:red;
            }
        }
    }
}

.form-control-filter{
  width: 60%;
}
.form-control-system-filter{
  width: 100%;
}

/* reset filter fix */
.cursor-point{   
    cursor: pointer;
}
